<div *ngIf="events" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Upcoming events</h5>
          <div class="list-group">
            <a *ngFor="let event of events" [routerLink]="['details', event.id]" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{event.title}}</h5>
                <small>{{dateHelper.calculateTimeAgo(event.postedAt)}}</small>
              </div>
              <p class="mb-1">Event info: {{(event.description.length>100)? (event.description | slice:0:100)+'...':(event.description)}}</p>
              <p class="mb-1">Looking for: {{(event.bandDescription.length>100)? (event.bandDescription | slice:0:100)+'...':(event.bandDescription)}}</p>
              <p class="mb-1">Genre(s): {{(event.genre.length>100)? (event.genre | slice:0:100)+'...':(event.genre)}}</p>
              <div>
                <small>Starts on: <strong>{{dateHelper.formatDatetoLocalDate(event.startDateAndTime)}}</strong> at <strong>{{dateHelper.formatDatetoLocalTime(event.startDateAndTime)}}</strong>
                  and ends on: <strong>{{dateHelper.formatDatetoLocalDate(event.endDateAndTime)}}</strong> at <strong>{{dateHelper.formatDatetoLocalTime(event.endDateAndTime)}}</strong></small>
              </div>
              <small>{{event.venue.companyName}} {{event.state}}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userRole === 'ROLE_VENUE'" >
    <button mat-fab color="primary" class="float" routerLink="create">+</button>
  </div>
</div>
