<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Upcoming events</h5>
          <div class="list-group">
            <a *ngFor="let event of events" [routerLink]="['details', event.id]" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{event.title}}</h5>
                <small>{{calculateTimeAgo(event.postedAt)}}</small>
              </div>
              <p class="mb-1">{{(event.description.length>100)? (event.description | slice:0:100)+'...':(event.description)}}</p>
              <div>
                <small>Starts on: {{formatDatetoLocalDate(event.startDateAndTime)}} at {{formatDatetoLocalTime(event.startDateAndTime)}}</small>
                <small> and ends on: {{formatDatetoLocalDate(event.endDateAndTime)}} at {{formatDatetoLocalTime(event.endDateAndTime)}}</small>
              </div>
              <small>{{event.venue.companyName}} {{event.state}}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
