<div *ngIf="showMePartially">
  <form [formGroup]="updatePasswordFormGroup">
    <mat-form-field>
      <input matInput placeholder="New password" formControlName="passwordCtrl" type="password" name="password" required>
      <mat-error *ngIf="updatePasswordFormGroup.get('passwordCtrl').hasError('required')">
        New Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password" formControlName="verifyPasswordCtrl" type="password" name="verifyPassword" required>
      <mat-error *ngIf="updatePasswordFormGroup.get('verifyPasswordCtrl').hasError('required')">
        Confirm password <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button class="btn btn-dark btn-sm btn-block" (click)="updatePassword()">Save password</button>
</div>
