<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form [formGroup]="loginFormGroup">
            <mat-form-field>
              <input matInput placeholder="E-Mail" formControlName="emailCtrl" type="email" name="email" required>
              <mat-error *ngIf="loginFormGroup.get('emailCtrl').hasError('required')">
                E-Mail is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="loginFormGroup.get('emailCtrl').hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="passwordCtrl" type="password" name="password" required>
              <mat-error *ngIf="loginFormGroup.get('passwordCtrl').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-error *ngIf="error != null">{{error.message}}</mat-error>
            <mat-error *ngIf="errorSocialLogin != null">{{errorSocialLogin}}</mat-error>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="onLoginClicked()">Sign in</button>
          </form>
          <p class="my-2">Don't have an account yet? <a routerLink="/register">register</a></p>
          <hr class="my-4">
          <button class="btn btn-block btn-social btn-google text-uppercase" (click)="onGoogleLoginClicked()"><span class="fab fa-google mr-2"></span> Sign in with Google</button>
          <button class="btn btn-block btn-social btn-facebook text-uppercase" (click)="onFacebookLoginClicked()"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>
