<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <!-- Profile widget -->
          <div class="bg-white rounded overflow-hidden">
            <div class="p-4 bg-dark">
              <div class="media align-items-end profile-header">
                <div class="profile mr-3 my-3">
                  <img *ngIf="!user.profilePicture" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                  <img *ngIf="user.profilePicture" src="{{user.profilePicture}}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                  <button class="btn btn-dark btn-sm btn-block" (click)="openEditProfile(profileContent)">Edit profile</button>
                </div>
                <div class="media-body mb-5 text-white">
                  <h4 class="mt-0 mb-0">{{user.name}}</h4>
                  <p class="small mb-4"><i class="far fa-paper-plane"></i> {{user.email}}</p>
                </div>
              </div>
            </div>
            <div class="bg-light">
              <div *ngIf="userRole === 'ROLE_USER'">
                <h2>if User -> favorite list of events</h2>
              </div>
              <div *ngIf="userRole === 'ROLE_VENUE'">
                <div *ngIf="venue">
                  <h5 class="card-title text-center my-3">{{venue.companyName}}'s planned events</h5>
                  <div class="list-group">
                    <div *ngFor="let event of events" class="list-group-item flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{event.title}}</h5>
                        <small>{{dateHelper.calculateTimeAgo(event.postedAt)}}</small>
                      </div>
                      <p class="mb-1">{{(event.description.length>100)? (event.description | slice:0:100)+'...':(event.description)}}</p>
                      <div>
                        <small>Starts on: <strong>{{dateHelper.formatDatetoLocalDate(event.startDateAndTime)}}</strong> at <strong>{{dateHelper.formatDatetoLocalTime(event.startDateAndTime)}}</strong>
                          and ends on: <strong>{{dateHelper.formatDatetoLocalDate(event.endDateAndTime)}}</strong> at <strong>{{dateHelper.formatDatetoLocalTime(event.endDateAndTime)}}</strong></small>
                      </div>
                      <div>
                      <small>{{event.venue.companyName}} {{event.state}}</small>
                      </div>
                      <div>
                        <small>
                        <a class="list-group-item-action" [routerLink]="['/events/edit', event.id]"  ><i class="far fa-edit"> Edit</i></a>
                        </small>
                        <small style="padding-left: 8px">
                          <a class="list-group-item-action" (click)="throwDeleteAlert(deleteEventContent)"> <i class="far fa-trash-alt"> Delete</i></a>
                        </small>
                      </div>

                      <!-- DELETE EVENT MODAL -->
                      <ng-template #deleteEventContent let-modal>
                        <div class="modal-header">
                          <h5 class="modal-title" id="modal-basic-title">Are you sure?</h5>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete {{event.title}}?</p>
                          <button class="btn-primary btn-block text-uppercase" (click)="onDeleteEventClicked(event.id)">Yes</button>
                          <button class="btn-danger btn-block text-uppercase" (click)="modal.dismiss('No click')">No</button>
                        </div>
                      </ng-template>
                      <!-- END DELETE EVENT MODAL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End profile widget -->
        </div>
      </div>

      <!-- EDIT PROFILE MODAL -->
      <ng-template #profileContent let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">Edit profile</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateProfileFormGroup">
            <mat-form-field>
              <input matInput placeholder="Display name" [value]="user.name" formControlName="nameCtrl" type="text" name="name" required>
              <mat-error *ngIf="updateProfileFormGroup.get('nameCtrl').hasError('required')">
                Display name is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="updateProfileFormGroup.get('nameCtrl').hasError('usernameTaken')">
                Display name is <strong>taken</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="E-Mail" [value]="user.email" formControlName="emailCtrl" type="email" name="email" required>
              <mat-error *ngIf="updateProfileFormGroup.get('emailCtrl').hasError('required')">
                E-Mail is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="updateProfileFormGroup.get('emailCtrl').hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="updateProfileFormGroup.get('emailCtrl').hasError('emailTaken')">
                E-Mail is <strong>taken</strong>
              </mat-error>
            </mat-form-field>
          </form>
          <button class="btn btn-dark btn-sm btn-block" (click)="toggleUpdateView()">Change password</button>
          <app-update-password [showMePartially]="showUpdatePassword"></app-update-password>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close(updateProfile())">Save</button>
        </div>
      </ng-template>
      <!-- END EDIT MODAL -->
    </div>
  </div>
</div>
